{%load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Alife | About</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/ALifeLogo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="home"><img src="{% static 'img/logo/ALifeLogo.png' %}" alt="" height="100px" width="100px"></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li class="active" ><a href="home">Home</a></li>
                                           
                                            <li><a href="about">About</a></li>
                                            <li><a href="#">updates</a>
                                                <ul class="submenu">
                                                    <li><a href="traffic_update">Traffic Updates</a></li>
                                                    <li><a href="road_cond">Road Condtion</a></li>
                                                    <li><a href="news">Current News</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact">Contact</a></li>
                                            <!-- Button -->
                                            <li class="button-header margin-left "><a href="/register" class="btn">Register</a></li>
                                            <li class="button-header"><a href="/login" class="btn btn3">Log in</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <main>
        <!--? slider Area Start-->
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">About us</h1>
                                    <!-- breadcrumb Start-->
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="home">Home</a></li>
                                            <li class="breadcrumb-item"><a href="#">about</a></li> 
                                        </ol>
                                    </nav>
                                    <!-- breadcrumb End -->
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!--? About Area-1 Start -->
        <section class="about-area1 fix pt-10">
            <div class="support-wrapper align-items-center">
                <div class="left-content1">
                    <div class="about-icon">
                        <img src="{% static 'img/icon/about.svg' %}" alt="">
                    </div>
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-55">
                        <div class="front-text">
                            <h2 class="">Know more about the system</h2>
                            <p> 
                                "Caution is the parent of safety" and for that <br> Alife provides simple but complex system which <br> will alert concerned authority in the scene. 
                            </p>
                        </div>
                    </div>
                    <div class="single-features">
                        <div class="features-icon">
                            <!-- <img src="assets/img/icon/right-icon.svg" alt=""> -->
                        </div>
                        <div class="features-caption">
                            <p>With the transformation of technologies over reaching human intelligence, machines are capable of performing various things with the revolution of such advancement we can utilize such powerful tool for the safety of people.<br> The purposed system is used in the surveillance system mostly in case of highway safety which is done using various vision tools like CCTV camera and clasify between accidental cases.</p>
                        </div>
                    </div>
                    
                </div>
                <div class="right-content1">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'img/gallery/about.png' %}" alt="">

                        <div class="video-icon" >
                            <video width="550" height="350" controls>
                                <source src="{% static 'Official Intro _ GTC 2020 _ I AM AI.mp4' %}" type="video/mp4">
                                <source src="" type="video/ogg">
                              Your browser does not support the video tag.
                              </video>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? top subjects Area Start -->
        
        <!-- top subjects End -->
        <!--? About Area-3 Start -->
        <section class="about-area3 fix">
            <div class="support-wrapper align-items-center">
                <div class="right-content3">
                    <!-- img -->
                    <div class="right-img">
                        <img src="{% static 'img/gallery/highwayimg.png' %}" alt="">
                    </div>
                </div>
                <div class="left-content3">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-20">
                        <div class="front-text">
                            <h2 class="">Highway accident surveillance system</h2>
                        </div>
                    </div>
                    <div class="single-features">
                        <!-- <div class="features-icon">
                            <img src="assets/img/icon/right-icon.svg" alt="">
                        </div> -->
                        <div class="features-caption">
                            <p>With the increase on population of vehicles globally it has incresed the rate of increase in accidents. Some highway are far from urban area which lead to unconditional casulty of commuter for such condition Alife helps in detecting the accident and providing alert to concerned authority.</p>
                        </div>
                    </div>
                    <div class="single-features">
                    </div>
                    <div class="single-features">
                    </div>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        
    </main>
    <footer>
     <div class="footer-wrappper footer-bg">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="home"><img src="{% static 'img/logo/ALifeLogo.png' %}" alt="" height="100px" width="100px"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>Welcome to the future</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://www.instagram.com/raulpar10/"><i class="fab fa-instagram"></i></a>
                                    <a href="https://www.facebook.com/profile.php?id=100007788468471"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://www.linkedin.com/in/rahul-parajuli-604924198/"><i class="fab fa-linkedin"></i></a>
                                    <a href="https://github.com/RahulParajuli"><i class="fab fa-github"></i></a>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Our Serivices</h4>
                                    <ul>
                                        <li><a href="#">Automated detection</a></li>
                                        <li><a href="#">Accident Chart</a></li>
                                        <li><a href="#">Deliver news</a></li>
                                        <li><a href="#">Keep updated</a></li>
                                        <li><a href="#">About us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Main office</a></li>
                                        <li><a href="#">Branches</a></li>
                                        <li><a href="#">Online support</a></li>
                                        <!-- <li><a href="#">Programing</a></li>
                                        <li><a href="#">Architecture</a></li> -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Alife Accident Detection System<i class="" aria-hidden="true"></i> by <a href="https://github.com/RahulParajuli" target="_blank">Rahul Parajuli</a>
                                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
      </div>
  </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>